[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
en_core_web_md = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl"}
torch = "*"
pandas = "*"
datasets = "*"
scikit-learn = "*"
transformers = {extras = ["torch"], version = "*"}
nltk = "*"
imblearn = "*"
textblob = "*"
xgboost = "*"
openpyxl = "*"
vadersentiment = "*"
spacy = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
